.h {
	min-height: 500px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}