<!DOCTYPE html>
<html ng-app="myApp">
<head>
      <title>Loga Chat</title>
      <meta charset="utf-8" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">
            <link rel="stylesheet" type="text/css" href="bower_components/sexystyle/style.css">
</head>
<body ng-controller="ctrlFire" >
      <section class="row">
            <div id="modal1" class=" col s12 m12 l4 right modal bottom-sheet">
                  <div class="modal-content right">
                  <h4 class="thin">Chat</h4>
                        <section class="content ">
                              <section id="mensajes" class="row" ng-init="agregarTodo()">

                                <section ng-repeat="chat in datos|filter:buscador|orderBy:tipoOrden">

                                  <section class="col s12" ng-class="{left:chat.l , right:chat.r}">
                                    <section class="card z-depth-1">
                                       <section class="col s2">
                                          <br>
                                          <img class ="circle responsive-img" src="img\E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" alt="" />
                                       </section>
                                       <section class="col s10 grey-text text-darken-4">
                                          <p class="flow-text">{{chat.user}}</p>
                                          <p>{{chat.comentario}}</p>
                                       </section>
                                        <section class="card-action">
                                          <a class="thin right grey-text text-darken-3" href="#">{{chat.fecha }}</a>
                                          <br>
                                        </section>
                                        <br><br><br>
                                      </section>
                                  </section>

                                </section>
                              </section>

                              <section id="caja-mensaje" class="container row">

                                   <section class="col s1 offset-s2">
                                     <img class ="circle responsive-img" src="img\E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" alt="" />
                                   </section>
                                   <section class="col s6 inp">
                                      <div class="input-field">
                                         <input type="text" class="validate" placeholder="Escribir mensaje..." ng-model="estudiante">
                                      </div>
                                   </section>

                                   <section class="col s1 ">
                                     <button ng-click="agregarComentario()" class="btn col 12 mt blue darken-1 large waves-effect waves-light" type="submit" name="action"> <i class="material-icons">send</i> </button>
                                   </section>
                              </section>
                        </section>
                  </div>
                  <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Salir</a>
                  </div>
            </div>
      </section>

      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red modal-trigger waves-effect waves-light " href="#modal1"><i class="large material-icons">chat</i></a>
      </div>

      <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
      <script type="text/javascript" src="bower_components/sexystyle/bin/materialize.js"></script>
      <script type="text/javascript" src="bower_components/sexystyle/bin/goo.js"> </script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
      <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
      <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
      <script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
      <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
      <script type="text/javascript" src="app.js"></script>
</body>
</html>
