<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Loga Chat</title>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" type="text/css" href="bower_components/sexystyle/style.css">
</head>
<body ng-controller="ctrlFire" >
    <section class="blue darken-1">
      <section class="row blue darken-1">
        <nav class=" blue darken-1 noshadow">
          <section class="nav-wrapper container">
              <a href="#" class="brand-logo thin">LogaChat</a>
              <ul class="right hide-on-med-and-down">
                 <a class="waves-effect waves-light btn white blue-text  modal-trigger" href="#modal1">Usuario</a>
                  <!-- <a class='dropdown-button btn white blue-text ' href='#' data-activates='dropdown1'>Usuario</a>
                   Dropdown Structure
                   <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">one</a></li>
                      <li class="divider"></li>
                      <li><a href="#!">two</a></li>
                      <li class="divider"></li>
                   </ul>-->
                <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a></li>
                <li><a class="limpiar tooltipped" href="" data-position="bottom" data-delay="50" data-tooltip="Salir" ng-click="clearAll()"><i class="material-icons">exit_to_app</i></a></li>
              </ul>
          </section>
        </nav>
      </section>
      <ul id="slide-out" class="side-nav">
         <li><a href="#!">First Sidebar Link</a></li>
         <li><a href="#!">Second Sidebar Link</a></li>
      </ul>
      <nav class="container blue darken-1">
        <div class="nav-wrapper blue darken-1">
            <div class="input-field">
              <input id="search" type="search" required ng-model="buscador">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </div>
      </nav>
    </section>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h3 class="thin">Iniciar</h3>
        </div>
        <div class="modal-footer">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" ng-model="txtuser" ng-change="local()" class="validate">
                <label for="icon_prefix">Nombre de usuario</label>
              </div>
              <div class="input-field col s6">
                 <i class="material-icons prefix">email</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Correo Electronico</label>
              </div>
            </div>
          </form>
        </div>

          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Iniciar</a>
        </div>
      </div>
    <!--Mensajes-->
    <section id="chat">
      <section id="header-chat">
        <header class="center thin text-teal">
          <p>(Activo ahora...)</p>
        </header>
      </section>
      
      <section id="mensajes" class="row container" ng-init="agregarTodo()">
         
        <section ng-repeat="chat in datos|filter:buscador|orderBy:tipoOrden">

         <chat></chat>

        </section>
      </section>
    </section>

    <!--Inputs-->
      <section id="caja-mensaje" class="container row">

           <section class="col s1 offset-s2">
             <img class ="circle responsive-img" src="img\E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" alt="" />
           </section>
           <section class="col s6 inp">
              <div class="input-field">
                 <input type="text" class="validate" placeholder="Escribir mensaje..." ng-model="estudiante">
              </div>
           </section>

           <section class="col s1 ">
             <button ng-click="agregarComentario()" class="btn col 12 mt blue darken-1 large waves-effect waves-light" type="submit" name="action"> <i class="material-icons">send</i> </button>
           </section>
      </section>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"> </script>
    <script type="text/javascript" src="bower_components/sexystyle/bin/materialize.js"></script>
    <script type="text/javascript" src="bower_components/sexystyle/bin/goo.js"> </script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
