<!DOCTYPE html>
<html ng-app="myApp">
<head>
      <title>LogaChat</title>
      <meta charset="utf-8" />
      <!--CSS-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="ctrlFire" >
   
      <!-- Menu -->
      <nav class="navbar navbar-default container" role="navigation">
            <!-- El logotipo y el icono que despliega el menú se agrupan
                 para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">LogaChat</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Perfil</a></li>
                <li><a href="#" data-toggle="modal" data-target="#usuario">Usuario</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Configuracion <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Acción #1</a></li>
                    <li><a href="#">Acción #2</a></li>
                    <li><a href="#">Acción #3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Acción #4</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Acción #5</a></li>
                  </ul>
                </li>
                <li class=""><a href="#" ng-click="clearAll()">Salir</a></li>
              </ul>
              <form class="navbar-form navbar-right" role="search">
                 <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar" ng-model="buscador">
                </div>
              </form>
            </div>
          </nav>
          
      <!-- Modal -->
      <div class="modal fade" id="usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Usuario</h4>
            </div>
            <div class="modal-body text-center">
                  <form class="form-horizontal">
                   <img src="img/E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" class="img-circle" alt="">
                   <br><br><br>
                   <h4>Usuario</h4>
                    <div class="form-group ">
                      <div class="col-sm-8 col-md-offset-2">
                        <input type="email" class="form-control" id="inputEmail3" ng-model="txtuser" ng-change="local()" placeholder="Escribe tu nombre de usuario">
                      </div>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
         </div>
        </div>
      </div>
      
      
      <!--Mensajes-->
      <section ng-controller="ItemsCtrl" class="container text-center">
         <p>(Activo ahora)</p>
         <section id="mensajes" scroll-glue-bottom="glued" class="mensajes jumbotron well h" ng-init="agregarTodo()">
             <section ng-repeat="chat in datos|filter:buscador|orderBy:tipoOrden">
              <section ng-class="{left:chat.l , right:chat.r}">
                <section class="row text-left">
                  <section class="col-md-8">
                   <section class="col-md-1">
                        <img class ="img-circle " src="img\E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" height="40px" alt="" />
                   </section>
                    <section class="col-md-5">
                       <span>{{itemchat.user}}</span><br>
                       <span>{{chat.comentario}}</span><br>
                       <a class="right grey-text text-darken-3" href="#">{{chat.fecha }}</a>
                    </section>
                  </section>
                </section>
             </section>
            <br>
            </section>
         </section>
      

      </section>

      
     <!--Enviar--->
     <form class="container row">
          <div class="col-md-1 col-md-offset-5">
             <img src="img/E0519791-4B35-43C9-8D04-DA5455206827-1141-0000001495533B96.jpg" class="img-circle" height="30px" alt="">
          </div>
          <div class="form-group col-md-3">
            <input type="text" class=" form-control" id="exampleInputEmail1" placeholder="Escribe un mensaje" ng-model="estudiante">
          </div>
          <div class="col-md-3">
              <button ng-click="agregarComentario()" type="submit" class=" btn btn-default">Enviar</button>
          </div>
     </form>
      
      <!--          <pre>&lt;div scroll-glue-left="glued"/&gt;</pre>
          <div scroll-glue-left="glued">
            <span ng-repeat="item in items.slice().reverse()">{{item}}</span>
          </div>
          <pre>&lt;div scroll-glue-right="glued"/&gt;</pre>
          <div scroll-glue-right="glued">
            <span ng-repeat="item in items">{{item}}</span>
          </div>-->

      <!--JS-->
      <script type="text/javascript" src="js/jquery/dist/jquery.min.js"> </script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/angular/angular.min.js"></script>
      <script type="text/javascript" src="js/src/scrollglue.js"></script>
      <script type="text/javascript" src="js/firebase/firebase.js"></script>
      <script type="text/javascript" src="js/angularfire/angularfire.min.js"></script>
      <script type="text/javascript" src="https://rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
      <script type="text/javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
      
</body>
</html>
