@import 'bin/materialize.css';

rojo = #f44336
azul = #1e88e5
blanco = #1e88e7
gris = #424242
gris2 = #9e9e9

.user
  font-size: 9px

.b
  display none

#mensajes
	height 450px
	overflow auto
.mt
	padding 10px
	margin-top 25px
	width 100%

::-webkit-input-placeholder
   color: gris;

.input-field label
  color: gris;

.input-field input[type=text]:focus + label
  color: gris;

.input-field .prefix.active
  color: gris2;

.inp input[type=text]:focus
 border-bottom: 1px solid azul;
 box-shadow: 0 1px 0 0 azul;

.inp input[type=text].valid
 border-bottom: 1px solid azul;
 box-shadow: 0 1px 0 0 azul;

.inp input[type=text].invalid
 border-bottom: 1px solid azul;
 box-shadow: 0 1px 0 0 azul;

.inp .prefix.active
 color: azul;

.input-field input[type=search]:focus
  border-bottom: 1px solid blanco;
  box-shadow: 0 1px 0 0 blanco;

.input-field input[type=search]:focus
    border-bottom: 1px solid blanco;
    box-shadow: 0 1px 0 0 blanco;
